$primary-color: #666666;
$gray: #808080;
$light-gray:  #DBDBDB;
$dark-gray:#333333;

$blue: #189FF9;
$dark-blue: #161D30;
$black: #000000;

$bg-black-op: #000000da;
$bg-black-op9: #00000000;

$white: #FFFFFF;

$orange:#FFAA04;

$red: #ff0000;

$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', serif;
$font-openSans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;
